.inputGroup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 1rem auto;
}

.input {
    width: 200px;
    height: 80px;
    text-align: center;
    padding: 1.2rem 0.75rem 0.1rem;
    font-size: 1rem;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #1f1f1f;
    color: #fff;
    outline: none;
    transition: border 0.3s;
}

.input:focus {
    border-color: #00bfff;
}

.label {
    margin-left: 10px;
    position: absolute;
    left: 0.75rem;
    top: 1.3rem;
    font-size: 1rem;
    color: #aaa;
    pointer-events: none;
    transition: all 0.2s ease;
}

.input:focus + .label,
.filled {
    top: 0.4rem;
    font-size: 0.95rem;
    color: #00bfff;
}